*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-hero {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    background-color: #232323;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-content h1 {
    color: #fff;
    font-size: 4rem;
    margin: 2rem;
    text-align: center;
}
#gradientcolor-text {
    background: linear-gradient(0deg, #dd6e00 0%, #ffff53 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-button, .actionSellBtn, .seeMore, .btn-boutique, .btn-demo{
    padding: 1rem 2rem 1rem 2rem;
    display: block;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    background: #442200;
    background: linear-gradient(0deg, #4b2500 0%, #707000 100%);
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 2rem;
}
.hero-button:hover, .actionSellBtn:hover, .seeMore:hover, .btn-boutique:hover, .btn-demo:hover, .service-btn:hover{
    -webkit-box-shadow: 0 3px 32px -10px #707000;
    -moz-box-shadow: 0 3px 32px -10px #707000;
    box-shadow: 0 3px 32px -10px #707000;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1.5rem;
}

.facebook-icon,
.apple-icon,
.instagram-icon,
.youtube-icon,
.spotify-icon,
.deezer-icon {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

.facebookcontent,
.Applecontent,
.instaContent,
.youtubeContent,
.spotifyContent,
.deezerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.facebookcontent a,
.Applecontent a,
.instaContent a,
.youtubeContent a,
.spotifyContent a,
.deezerContent a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.scrollBottom{
    text-align: center;
    color: #bfbfbf;
    font-size: 4rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s ease;
    animation: shake 5s infinite alternate;
}

/* Animation */
.icons div {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .icons div.in-view {
    opacity: 1;
    transform: translateY(0);
  }

/* Responsive */

@media screen and (max-width:768px) {}

/* InfoSell Section */
.inforSell {
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    -webkit-box-shadow: 0px -44px 50px 50px #232323; 
    box-shadow: 0px -44px 50px 50px #232323;
    padding: 5rem;
}
.container-principale,.container-store{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.inforSell h2{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin: 2rem;
    text-transform: capitalize;
}
.inforSell p{
    color: #bfbfbf;
    text-align: center;
    font-size: 1.2rem;
}
.steps-container{
    display: flex;
    gap: 2rem;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}
.title-content h3{
    font-size: 5rem;
}
.text-content p{
    text-align: left;
}
.text-content h4{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0 1rem 0;
}
/* Responsive */

@media screen and (max-width:768px) {}

.info{
    background-color: #303030;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-infoStudio{
    max-width: 1300px;
    width: 100%;
}
.container-infoStudio h2, #paragraph{
    text-align: center;
    margin: 1.5rem;
}
.container-infoStudio h2{
    font-size: 3rem;
    color: #fff;
}
.container-infoStudio p{
    font-size: 1.2rem;
    color: #bfbfbf;
}
/* Responsive */
@media screen and (max-width:768px){
    /* To add */
}
/* Store section */
.boutique{
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
}
.boutique .container-store h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #fff;
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 1rem;
}
.product-card{
    text-align: center;
    background-color: #303030;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    -webkit-box-shadow: 5px 10px 20px -5px #00000033; 
    box-shadow: 5px 10px 20px -5px #00000033;
}
.product-card h3{
    font-size: 2rem;
    color: #bfbfbf;
}
.product-card p{
    text-align: center;
    margin: 1.5rem;
    color: #bfbfbf;
}
.image_card{
    max-width: 100%;
    transform: scale(1);
    transition: 0.5s ease;
}
.image_card:hover{
    transform: scale(1.03);
}